services:
  db:
    image: postgres:15-alpine
    container_name: app_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network
    restart: unless-stopped

  backend:
    build:
      context: ./app-code/backend
      dockerfile: Dockerfile
    container_name: django_backend
    restart: unless-stopped
    depends_on:
      - db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db     # <<< FIX HERE
      POSTGRES_PORT: 5432
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: ${DEBUG}
    expose:
      - "8000"
    ports:
      - "8000:8000"
    networks:
      - backend-network
      - frontend-network   # shared with frontend

  react-app:
    build:
      context: ./app-code/frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_BASE_URL: ${REACT_APP_API_URL}
    ports:
      - "3000:80"
    networks:
      - frontend-network
    restart: unless-stopped

networks:
  backend-network:
  frontend-network:

volumes:
  postgres_data:
